/* Body */

body {
  background-color: black;
  color: white;
  max-width: 100%; 
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
  
}

/* Containergröße */

.container {

max-width: 85%; 
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
height: auto;

} 
 
#h1-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: auto;
}
 
#headline {
  margin-top: -2em;
  margin-bottom: 2.1em;
}





/* Navigationsleiste */

nav {

  /* Farben */

  background-color: black;
  width: 100%;
  position: sticky;
  
  

  /* äußerer Abstand */ 
  margin-bottom: 2em;
  margin-top: 2.875em;
  margin-left: 1.875em;
  margin-right: 1.875em;

  /* Innerer Abstand */
  height: 65px;
  
  padding-bottom: 0.403em;
  padding-left: 0.588em;

  /* Kanten und Schatten */

  border-radius: 7px;
  overflow: hidden; 
  transition: max-height 0.5s ease;
}



nav ul {
  list-style-type: none;
  margin: 0;
  
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li:first-child {
  margin-right: auto;
  margin-top: -0.05em;
}
nav ul li:last-child {
  margin-right: 20px;
  
}

nav ul li {
  display: inline;
  margin-left: 10px;
  
  }

nav ul li a {
  color: white;
  text-decoration: none;
  
}

/* öffnende Navigationsleiste */

nav ul.open {
max-height: 500px;
display: flex;
flex-direction: column;
}

nav ul li {
display: block;
}
.nav-list {
height: 0;
overflow: hidden;
transition: height 5.3s ease;
text-align: center;
padding: 0;
margin: 0;
}

.nav-list.open {
height: auto;
}

.nav-list li {
font-size: 4em;
margin-bottom: 2em;
}


form {
display: none; 
position: absolute;
top: 1.5em;
right: 10em; 
display: flex;
align-items: center;



}
input[type="submit"] {
  cursor: pointer;
  
}



















/* Header */

header {
background-color: white;
color: white;
padding-bottom: 5em;
margin-top: -3em;
width: 100%;
height: auto;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;

}
 

#dodecahedron {
width: 500px;
height: 500px;
flex: 1;
background-color: #ccc; 

box-shadow: 0 0 12px rgba(0, 0, 0, 0.5); 


}
#button2 {
  background-color: #999999;
}


#buttons {

display:flex;
justify-content: center;
margin: 0 auto;
}

button {
width: 40px;
height: 40px;
margin-right: 10px;
border: black;
border-color: black;
border-radius: 20px;
margin-top: -4em;
cursor: pointer;
}

#container {
max-width: 99.2%;
max-height: 100%;
height: 88vh;
display: flex;
justify-content: center;
align-items: center;
margin-top: -9em;
margin-bottom: -2em;

}


























/* Main */

main {
  padding: 5rem;
  width: 100%;
}














/* Footer */

footer {
  background-color: #333;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  position: relative;
  }

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.horizontal-icons {
  display: flex;
  justify-content: space-between;
  width: 500px; 
}

.icon {
  margin-top: -16em;
  width: 20px;
  height: 40px;
  background-size: cover;
  background-position: center;
  padding-right: 10em;
  vertical-align: top; 
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin-left: 6.25em;
  font-size: 2em;
  height: 350px;
}


.footer ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 1.125em;
  
  height: 40px;
}



.footer li:first-child {
  font-weight: bold;
}

.footer li a:last-child {
  margin-right: 6.25em;
}


.impressum {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: 50px;
  
}

.footer a:hover,

.icon img:hover {
color: #ccc; 
cursor: pointer; 
margin-top: 5px; 
border-bottom: 2px solid #037CC2; 

}

.footer .icon:hover {
background-color: #ccc; 
cursor: pointer; 
border-bottom: 2px solid #037CC2; 
margin-top: 5px; 
padding-bottom: 0; 
}

.impressum p:hover {
color: #ccc;
cursor: pointer;
margin-top: 9px;
border-radius: 1%;
border-bottom: 0.5px solid #037CC2; 
}

























/* Font */


@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');




/* Überschriften */
h1 {
font-size: 4.5em;
color: black;
text-align: center; 
margin: 0 auto; 
}


header h1 {
margin-top: 0.5em;
font-weight: normal;


 /* Animationsübergang */
 opacity: 0;
 transform: translateY(-50px);
 transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

header h1.show {
opacity: 1;
transform: translateY(0);
}


h2 {
  font-size: 3.5em;
}



p {
  width: 23.125em;
  
}
.regular {
  font-weight: normal; 
  font-size: 1.5em; 
  

}
.regular-font {
  font-weight: normal;
  margin-top: 2em;
}

.semibold {
  font-weight: 600; 
  margin: 0;
}



.svg-icon {
  width: 3.5em;
  height: 3.5em;
 
}




















.color-dots {
  display: flex;
  gap: 10px; 
  
}

.color-dot {
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  
}


.image-text-container video {
  width: 50%;
  object-fit: scale-down;
  }



/* Scroll Content */



.text .semibold {
  padding-top: 3em;
  font-size: 4.5em;
}

.text .regular {
  font-size: 2.2em;
}

.main-content .image-text-container > *:last-child {
  margin-right: 3.1025em;
  }





/* Video */

.video-container {
position: relative;
padding-bottom: 56.25%; 
height: auto;
overflow: hidden;
max-width: 100%;
}

.video-container video {
position: absolute;
top: 6.25em;
left: 0;
max-width: 100%;
height: auto;
}

video {
  max-width: 100%;
  height:auto;
}

















/* Bilder + Text */

.image-text-container {
position: relative;
display: flex;
align-items: flex-start;
margin-top: 5.25em;
max-width: 100%;
height: fit-content;
opacity: 0;
transition: opacity 1s;
overflow: hidden;
}

.image-text-container.visible {
opacity:1;
}

.image-text-container > *:not(:last-child) {
margin-right: 3.1025em;
}

.image-text-container img {
width: 50%;
object-fit: scale-down;
}

.image-text-container .text {
flex: 1;
width: 50%;
}

.image-text-container h2 {
margin: 0;
font-size: 3.5em;
font-weight: 500;
width: 100%;
}

.image-text-container p {
font-size: 1.5em;
width: 100%;
}



.text {
height: auto;
max-width: 100%;
}


.abstand {
  padding-top: 4em;
}













/* Tabelle*/

.table-container {
max-width: 50%;

}



.table-container table {
font-size: 1.5em;
border-collapse: collapse;
width: 100%;
}

.table-container td {
padding: 10px;
border: 1px solid black;
border-bottom: 1px solid white;
}

.table-container table :first-child td {
border-top: 1px solid white;
border-collapse: collapse;


}




.table-image {
width: 50%;
float: right;
margin-top: 4.5em;
display: inline-block;

transition: opacity 1s ease-in-out;
}

.hidden {
opacity: 0; 
}


#sizeVariable,
#areaVariable,
#soundPowerVariable,
#frequencyRangeVariable,
#micCharVariable,
#bluetoothPowerVariable {
color: #037CC2;
text-align: right;
}



/* Kundenrezesnionen */

#beruf {
  font-size: 2.1em;
  font-weight: 500;
}

#zuschnitt-bild img {
  width: 450px;
  height: auto;
}

#zuschnitte {
  margin-bottom: -300px;
}
#zuschnitte2 {
  margin-bottom: -300px;
  
}
#zuschnitte3 {
  margin-bottom: -300px;
}


.text {
  margin-left: 1em;
}




/* Slider*/

.slider {
margin-bottom: 7em;
max-width: 100%;
}
.slider-container {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
overflow: hidden;
padding-top: 12.5em;
padding-bottom: 3em;
}

.slider-image {
flex-shrink: 0;
width: 28%;
transition: all 0.5s ease-in-out;
position: relative;
}

.slider-image img {
display: block;
width: 100%;
height: auto;
}

.slider-image:first-child {
transform: scale(0.72);
top: -60px;
}

.slider-image:last-child {
transform: scale(0.72);
top: -60px;
}





.arrow-buttons {
top: 2em;
position: relative;
display: flex;
justify-content:space-evenly;
max-width: 100%;


}


.left-arrow,
.right-arrow {
width: 100px;
height: 100px;
background-color: transparent;
border: none;
outline: none;
cursor: pointer;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.left-arrow {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='0.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z' filter='invert(1)' /%3E%3C/svg%3E");
}

.right-arrow {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='0.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z' filter='invert(1)' /%3E%3C/svg%3E");
}



.button-container {


display: flex;
justify-content: center;
flex-direction: column; 
align-items: center;
}

.buy-button,
.compare-button {
margin-top: 8px;
width: 8em; 
height: 2em;
border-radius: 5px;
border: none;
cursor: pointer;
text-align: center;
max-width: 100%;
}

.buy-button {
padding-bottom: 0.2em;
margin-top: 1em;
background-color: #1FB01C;
color: white;
font-size: 2.25em;
font-weight: 600; 
font-family: 'Exo 2', sans-serif;


}

.compare-button {
background-color: #037CC2;
color: white;
font-size: 2.25em;
font-weight:lighter;

}


.arrow-buttons button:hover {
cursor: pointer; 
filter: brightness(85%); 
}

.buy-button {


background: linear-gradient(to right, #1FB01C 0%, #1FB01C 50%, white 50%);
background-size: 200% 100%;
transition: background-position 0.3s, color 0.3s; 
}

.buy-button:hover {
background-position: -100% 0;
color: #1FB01C; 
}

.compare-button {


background: linear-gradient(to right, #037CC2 0%, #037CC2 50%, white 50%);
background-size: 200% 100%;
transition: background-position 0.3s, color 0.3s; 
}

.compare-button:hover {
background-position: -100% 0;
color: #037CC2; 
}


@media screen and (max-width: 1280px) {


footer {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.horizontal-icons {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -165px;

}
.horizontal-icons .icon img {
  transform: scale(0.5);
}

.horizontal-icons .icon {
  margin-bottom: 70px;
}
.footer {
  padding: 0; 
}

.footer .icons {
  justify-content: center; 
}

.impressum {
  text-align: center; 
  margin-top: 1em; 
}
}






@media (max-width: 1780px) {

   #noise-h2 {
    margin-top: -2em;
  }

  .text .semibold {
    margin-top: -1em;
  }

 

}



@media (max-width: 1560px) {


  .image-text-container .text {
    max-width: 100%;
  }



  .left-video,
  .right-video {
    max-width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .table-image hidden {
    
    max-width: 100%;
  }
  
}


@media (max-width: 1500px) {

  .text .semibold {
    font-size: 2.9em;
    margin-top: 1.4rem;
  }

  .text .regular {
    font-size: 1.7em;
 
  }

  #noise-h2 {
    margin-top: 0.5rem;
  }

  #tabelle-bild{
    padding-top: 5em;
  }

}








@media (max-width: 1445px) {

  .text h2 {
    font-size: 2.5em;
  }
  #beruf {
    font-size: 1.85em;
  }

  .text p {
    font-size: 1.25em;
  }


  .text .semibold {
    font-size: 2.9em;
    margin-top: 1.4rem;
  }

  .text .regular {
    font-size: 1.7em;
 
  }


  #technische-daten {
    font-size: 2.5em;
  }
  #sizeVariable,
#areaVariable,
#soundPowerVariable,
#frequencyRangeVariable,
#micCharVariable,
#bluetoothPowerVariable {
font-size: 0.9em;
}.table-container td {
  font-size: 0.9em;
}



}

@media (max-width: 1267px) {


  .text h2 {
    font-size: 2.25em;
  }

  .text p {
    font-size: 1.15em;
  }



}


@media (max-width: 1280px) {

  .text .semibold {
    font-size: 2.5em;
  }

  .text .regular {
    font-size: 1.4em;
 
  }

  h1 {
    font-size: 3.5em;
  }
  #container {
    height: 90vh;
  }

}



















@media screen and (max-width: 1130px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
  }

@media screen and (max-width: 1130px) {
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -1.2em;
    
}

label, input {
    display: block;
    
    z-index: 2000;
}
}






@media (max-width: 1068px) {

  .container {
    max-width: 83%;
  }
  
}





@media (max-width: 1043px) {
  .image-text-container{
   flex-direction: row;
   justify-content: center;
  
  }

  
  .slider {
    max-width: 100%;
  }
  .text .semibold {
    font-size: 2.2em;
    
  }

  .text .regular {
    font-size: 1.2em;
 
  }

}

@media (max-width: 958px) {
  .image-text-container.from-right2 {
margin-left: 12em; 

}
  #nach-links-h2-6 {
    margin-left: 2.1em;
    margin-top: -3em;
    font-size: 4em;
    width: 6em;
    
  }
  #nach-links-6 {
    margin-left: 4.9em;
    margin-bottom: 2em;
    width: 14em;
    font-size: 1.6em;
  }

  #nach-links-h2 {
    margin-left: -0.5em;
    margin-top: 2em;
    font-size: 4em;
    width: 6em;
    
  }

  #nach-links {
    margin-left: -1em;
    margin-bottom: -2em;
    width: 17em;
    font-size: 1.6em;
   
  }
  #nach-links-h2-4 {
    margin-left: 2.1em;
    margin-top: -3em;
    font-size: 4em;
    width: 6em;
    
  }
  #nach-links-4 {
    margin-left: 5.2em;
    margin-bottom: 2em;
    width: 14em;
    font-size: 1.6em;
  }
  #nach-links-h2-2 {
    margin-left: -0.5em;
    margin-top: 2em;
    font-size: 4em;
    width: 6em;
    
  }

  #nach-links-2 {
    margin-left: -1em;
    margin-bottom: -2em;
    width: 17em;
    font-size: 1.6em;
   
  }


  #nach-links-h2-5 {
    margin-left: 2.1em;
    margin-top: -3em;
    font-size: 4em;
    width: 6em;
    
  }
  #nach-links-5 {
    margin-left: 5.2em;
    margin-bottom: 2em;
    width: 14em;
    font-size: 1.6em;
  }

  #nach-links-h2-3 {
    margin-left: -0.5em;
    margin-top: 2em;
    font-size: 4em;
    width: 6em;
    
  }

  #nach-links-3 {
    margin-left: -1em;
    margin-bottom: 0em;
    width: 17em;
    font-size: 1.6em;
   
  }



h2.semibold {
  font-size: 6em;
  
}
p.regular {
  font-size: 2em;
}

  #bild {
    width: 100%;
  }
  .table-container {
    width: 100%;
  }
 #text1 {
  width: 35em;
 }
 #text2 {
  width: 18em;
 }
 #text3 {
  width: 18em;
 }
 #text4 {
  width: 18em;
 }
 main {
    
  max-width: 100%;
}

  .image-text-container.visible {
    
    max-width: 100%;
    height: auto;
   
  }

  .container{
    margin: 0;
    
    justify-content: center;
  }
  
#abstand2 {
  margin-bottom: 5em;
}

 #tabelle-bild {
  margin-top: -25em;
  padding-top: 20em;
 align-items: center;
 
 width: 100%;
 height: 100%;
 }

 .table-container {
  
  max-width: 100%;
 }

.text {
  width: 100%;
  height: auto;
}

 
.image-text-container{

  flex-direction: column;
  margin: 0;
  width: 100%;
  

}
 #sport-bild {
  max-width: 100%;
  
 }

.breite {
  margin-top: -7em;
  
}

.slider-container {
  width: 100%;
  justify-content: center;
  
}
#bild {
  margin-top: 3em;
} 

.breite h2{
  color: #1FB01C;
}

.breite p {
  color: white;

}

#zuschnitt-bild #zuschnitte2 {
  height: 1000px;
  
}
#zuschnitte2 {
  margin-top: -8em;
  filter: brightness(0.4); 

  
}
#runterziehen {
  z-index:9; 
  position: relative;
  margin-bottom: -40em;
  margin-top: 13em;
  
}
#runterziehen2 {
  z-index:9; 
  position: relative;
  margin-bottom: -40em;
  margin-top: 8em;
  width: 25em;
  
}
#runterziehen3 {
  z-index:9;
  position: relative;
}
#schrift-vorne {
  z-index:9;
  position: relative;
}
#zuschnitte {
  filter: brightness(0.4); 
}

#zuschnitte3 {
  margin-top: 2em;
  filter: brightness(0.4); 
}

.video-container {
  max-width:100%;
  height: 10em;
}
.slider-image {
  width: 100%;
  margin-top: -5em;
}
#text1-h1 {
  font-size: 3em;
  margin-top: 1em;
}
#text1 {
  width: 195%;
  font-size: 1.4em;
}
#text2-h2 {
  font-size: 3em;
  margin-top: 1em;
}
#text2 {
  width: 195%;
  font-size: 1.4em;
}
#text3-h2 {
  font-size: 3em;
  margin-top: 1em;
}
#text3 {
  width: 195%;
  font-size: 1.4em;
}
#text4-h2 {
  font-size: 3em;
  margin-top: 1em;
}
#text4 {
  width: 195%;
  font-size: 1.4em;
}
}



@media (max-width: 895px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    
  }
  #footer-links {
    margin-left: -3em;
    
  }
  #footer-rechts {
    margin-right: 3em;
  }
  .footer .icons {
    justify-content: center; 
  }
  .horizontal-icons {
    flex-direction:row;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10em;
    margin-left: 2.5em;
    margin-bottom: -2em;
  }
  
  
  .menu {
    display: block;
  }
  h1 {
    font-size: 3em;
  }
  
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  #logoLink img {
    object-fit: cover;
    object-position:0%; 

    width: 70px; 
    height: 70px; 
  }
}








@media (max-width: 651px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  .image-text-container.from-right2 {
    margin-left: 0em; 
    
    }
}



@media (max-width: 595px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
  }
  .main {
  max-width: 100%;
 
  .table-container {
    margin: 0;
    
  }
}

}

@media (max-width: 820px) {
.image-text-container.from-right2 {
  margin-left: 10em; 
  
  }

}




@media (max-width: 770px) {

  .image-text-container.from-right2 {
    margin-left: 8em; 
    
    }
  


}






@media (max-width: 580px) {
  h1 {
    font-size: 2.4em;
  }

  #container {
    max-width: 100%;
    height: 93vh;
    
  }



  
}

@media (max-width: 580px) {






}

@media (max-width: 728px) {



  .image-text-container.from-right2 {
    margin-left: 1em; 
    
    }



#runterziehen {
  
  position: relative;
  margin-bottom: -40em;
  margin-top: 12em;
  width: 20em;
}
#runterziehen2 {
  z-index:9;  
  position: relative;
  margin-bottom: -40em;
  margin-top: 4em;
  width: 20em;
  
}
#runterziehen3 {
 
  width: 20em;
  
}
.slider-image {
  width: 100%;
  margin-top: -5em;
}

}







































/* mobile ansicht */ 

@media (max-width: 480px) {
  /* Body */

  .image-text-container.from-right2 {
    margin-left: 0; 
    
    }

  #dodecahedron {
    max-width: 100%;
    max-height: 100%;
    flex: 1; 
    background-color: #ccc; 
    
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5); 
    
    }
    #container {
      max-width: 100%;
      height: 93vh;
      
      
      
    }
    main.main {
      margin: 0;
    
      
    }

  /* Container */
  .container {
    max-width: 100%;
    
  }
 

label, input {
    display: block;
   
    
}

  /* Navigationsleiste */

  
#tabelle {
  
  max-width: 100%;
}

  

  .header-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Main */
  main {
    
    max-width: 100%;
    
  }

  /* Footer */
  footer {
    flex-direction: column;
    font-size: 11px;
    max-width: 100%;
 
  }
  .impressum {
    flex-wrap: wrap;
    height: 250px;
    
  }

  #impressum {
    padding-top: 1em;
  }


  .impressum p:hover {
    color: #ccc;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 1%;
    border-bottom: 0.5px solid #037CC2; 
    }
    
    
  /* Überschriften */
p.regular {
  width: 17em;
  
}
#nach-links-h2 {
  margin-left: -2.2em;
  margin-top: -3em;
  font-size: 2.7em;
}
#nach-links {
  margin-left: -4em;
  margin-bottom: -2em;
  font-size: 1.5em;
  
}
#nach-links-h2-2 {
  margin-left: -2.4em;
  margin-top: 1em;
  font-size: 2.7em;
  width: 5em;
}
#nach-links-2 {
  margin-left: -4.3em;
  margin-bottom: -2em;
  width: 14em;
  font-size: 1.5em;

}
#nach-links-h2-3 {
  margin-left: -2.65em;
  margin-top: 2em;
  font-size: 2.7em;
}
#nach-links-3 {
  margin-left: -4.7em;
  margin-bottom: 2em;
  font-size: 1.5em;
  width: 14em;
  
}

#nach-links-h2-4 {
  margin-left: 1.2em;
  margin-top: -3em;
  font-size: 2.7em;
}
#nach-links-4 {
  
  
  margin-left: 2em;
  margin-bottom: 7em;
  font-size: 1.5em;
  width: 14em;
}

#nach-links-h2-5 {
  margin-left: 1em;
  margin-top:1em;
  font-size: 2.7em;
  
}
#nach-links-5 {
  margin-left: 1.7em;
  margin-bottom: 2em;
  width: 14em;
  font-size: 1.5em;
}
#nach-links-h2-6 {
  margin-left: 1.1em;
  margin-top: -1em;
  font-size: 2.7em;
  
}
#nach-links-6 {
  margin-left: 2em;
  margin-bottom: 2em;
  width: 14em;
  font-size: 1.5em;
}

h2.semibold {
  width: 20em;
  
}
.text .semibold {
  font-size: 2em;
}

.text .regular {
  font-size: 1.1em;
}
.left-video {
  margin-bottom: -5em;
 
}

.slider-image {
  width: 100%;
  margin-top: -5em;
}

#bild {
  width: 100%;
}

#text1-h1 {
  margin-top: 1em;
  font-size: 2.7em;
}

#text1 {
  width: 22em;
  font-size: 1.2em;
 }
 #text2 {
  width: 22em;
  font-size: 1.2em;
 }

 #text2-h2 {
  margin-top: 1em;
  width: 12em;
  font-size: 2.7em;
 }
 #text3 {
  width: 22em;
  font-size: 1.2em;
 }
 #text3-h2 {
  margin-top: 1em;
  width: 10em;
  font-size: 2.7em;
 }
 #text4-h2 {
  margin-top: 1em;
  width: 10em;
  font-size: 2.7em;
 }
 #text4 {
  width: 22em;
  font-size: 1.2em;
 }

 form {
  display: none; 
  position: absolute;
  
  right: 17em; 
  display: flex;
  align-items: center;
  width: 0.1em;
  margin-top: -1.1em; 
  }

 #rezension {
  width: 20em;
 }

  label, input {
    max-width: 8em;
    max-height: 1.4em;
  }

  
  .video-container {
    margin-bottom: -4em;
    margin-top: -2em;
  }
  body {
    overflow-x: hidden;
  }
  
  #runterziehen2 {
    margin-top: 6em;
  }
  #runterziehen {
    margin-top: 13em;
  }
}



@media (max-width: 420px) {



  #text1-h1 {
    margin-top: 1em;
    font-size: 2.5em;
  }
  
  #text1 {
    width: 22em;
    font-size: 1.1em;
   }
   #text2 {
    width: 22em;
    font-size: 1.1em;
   }
  
   #text2-h2 {
    margin-top: 1em;
    width: 12em;
    font-size: 2.5em;
   }
   #text3 {
    width: 22em;
    font-size: 1.1em;
   }
   #text3-h2 {
    margin-top: 1em;
    width: 10em;
    font-size: 2.5em;
   }
   #text4-h2 {
    margin-top: 1em;
    width: 10em;
    font-size: 2.5em;
   }
   #text4 {
    width: 22em;
    font-size: 1.1em;
   }


   #nach-links-h2 {
    margin-left: -2em;
    margin-top: -3em;
    font-size: 2.5em;
  }
  #nach-links {
    margin-left: -3.8em;
    margin-bottom: -2em;
    font-size: 1.3em;
    width: 15em;
    
  }
  #nach-links-h2-2 {
    margin-left: -2.7em;
    margin-top: 1em;
    font-size: 2.5em;
    width: 5em;
  }
  #nach-links-2 {
    margin-left: -4.4em;
    margin-bottom: -2em;
    width: 14em;
    font-size: 1.5em;
  
  }
  #nach-links-h2-3 {
    margin-left: -2.5em;
    margin-top: 2em;
    font-size: 2.5em;
  }
  #nach-links-3 {
    margin-left: -4.7em;
    margin-bottom: 0em;
    font-size: 1.3em;
    width: 14em;
    
  }
  
  #nach-links-h2-4 {
    margin-left: 1.5em;
    margin-top: -3em;
    font-size: 2.5em;
  }
  #nach-links-4 {
    
    
    margin-left: 2.7em;
    margin-bottom: 7em;
    font-size: 1.3em;
    width: 14em;
  }
  
  #nach-links-h2-5 {
    margin-left: 1.5em;
    margin-top:0em;
    font-size: 2.5em;
    
  }
  #nach-links-5 {
    margin-left: 2.8em;
    margin-bottom: 2em;
    width: 14em;
    font-size: 1.3em;
  }
  #nach-links-h2-6 {
    margin-left: 1.56em;
    margin-top: 0em;
    font-size: 2.5em;
    
  }
  #nach-links-6 {
    margin-left: 2.8em;
    margin-bottom: 2em;
    width: 14em;
    font-size: 1.3em;
  }

  body {
  max-width: 100%;
  overflow-x: hidden;
}


}

@media (max-width: 390px) {



#text1,
#text2,
#text3,
#text4 {
  width: 20em;
}











}